In [1]:
from evds import evdsAPI
from datetime import datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
key_cbrt = 'JVWiwhGD4h'

In [9]:
datetime.today().strftime('%d-%m-%Y')

NameError: name 'datetime' is not defined

In [4]:
evds = evdsAPI(key_cbrt)
evds.get_data(['TP.DK.USD.A.YTL','TP.DK.EUR.A.YTL'], startdate="01-01-2019", enddate="01-01-2022")

           Tarih  TP_DK_USD_A_YTL  TP_DK_EUR_A_YTL
0     01-01-2019              NaN              NaN
1     02-01-2019           5.2810           6.0422
2     03-01-2019           5.3316           6.1061
3     04-01-2019           5.4588           6.2057
4     05-01-2019              NaN              NaN
...          ...              ...              ...
1092  28-12-2021          11.3900          12.8903
1093  29-12-2021          11.8302          13.4000
1094  30-12-2021          12.2219          13.8011
1095  31-12-2021          12.9775          14.6823
1096  01-01-2022              NaN              NaN

[1097 rows x 3 columns]

In [5]:
evds.main_categories

    CATEGORY_ID                                     TOPIC_TITLE_TR
0             1                                    PİYASA VERİLERİ
1             2                                             KURLAR
2             3                                FAİZ İSTATİSTİKLERİ
3             4                       PARA VE BANKA İSTATİSTİKLERİ
4             5                       MENKUL KIYMET İSTATİSTİKLERİ
5            12                             FİNANSAL İSTATİSTİKLER
6            13                              TCMB BİLANÇO VERİLERİ
7            14                                   FİYAT ENDEKSLERİ
8            15                                           ANKETLER
10           18   ÖDEMELER DENGESİ, ULUSLARARASI YATIRIM POZİSYONU
11           19                         DIŞ TİCARET İSTATİSTİKLERİ
12           20                                      KAMU MALİYESİ
13           21                                             ÜRETİM
14           22                        ÖDEME SİSTEMLERİ VE EMİSYON
15           23                                           İSTİHDAM
16            6                                        DIŞ BORÇLAR
17            7  ZORUNLU KARŞILIĞA TABİ MEVDUAT VE KATILIM FONLARI
18           24            BIS KARŞILAŞTIRMALI ÜLKE İSTATİSTİKLERİ
19           25                                     ALTIN VERİLERİ
20           26                     KONUT VE İNŞAAT İSTATİSTİKLERİ
21           27                                  FİNANSAL HESAPLAR
22           28                              TURİZM İSTATİSTİKLERİ
23           95                       EVDS KULLANIM İSTATİSTİKLERİ

In [6]:
evds.get_sub_categories(20)

,CATEGORY_ID,DATAGROUP_CODE,DATAGROUP_NAME
0,20,bie_kbgen,Genel Bütçe Dengesi ve Finansmanı (Hazine ve M...
1,20,bie_kbicborc,İç Borç Stok Verileri(Hazine ve Maliye Bakanlı...
2,20,bie_kbmgel,Merkezi Yönetim Bütçe Gelirleri-Yeni Tanım (Ha...
3,20,bie_kbmgid,Merkezi Yönetim Bütçe Harcamaları-Yeni Tanım (...
4,20,bie_kbozgel,Özelleştirmeden Elde Edilen Gelirler (Özelleşt...
5,20,bie_kamuborcy,Kamu Kesimi Borçlanma Gereği (Strateji ve Bütç...

In [7]:
evds.get_series('bie_kbicborc')

  SERIE_CODE                           SERIE_NAME  START_DATE
0  TP.KB.A01                             1.Tahvil  01-12-1979
1  TP.KB.A02                      1a.Tahvil Nakit  01-12-1979
2  TP.KB.A03                 1b.Tahvil Nakit Dışı  01-12-1979
3  TP.KB.A04  2.Konsolide Borçlar ve Kur Farkları  01-12-1979
4  TP.KB.A05                            3.Bonolar  01-12-1979
5  TP.KB.A06                     3a.Bonolar Nakit  01-12-1979
6  TP.KB.A07                3b.Bonolar Nakit Dışı  01-12-1979
7  TP.KB.A08                              4.Avans  01-12-1979
8  TP.KB.A09                             5.Toplam  01-12-1979